.btnsPanel {
	display: flex;
	align-items: center;
}
.pageNumber {
	font-size: 24px;
	margin: 0;
}

.btnPlus {
	margin-right: 10px;
}
.btnMinus {
	margin-left: 10px;
}
.btnDelete {
	margin-left: 20px;
}
